<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.mallservice.mall.mapper.DomainMapper">

    <select id="findAll" resultType="com.code.mallservice.mall.entity.DomailEntity">
      SELECT * FROM mall.tab_domain_info order by c_date desc;
    </select>

    <select id="findById" resultType="com.code.mallservice.mall.entity.DomailEntity">
        SELECT * FROM mall.tab_domain_info where id = #{id};
    </select>

    <select id="findByUser" resultType="com.code.mallservice.mall.entity.DomailEntity">
        <if test="user_id == -1">
            SELECT * FROM mall.tab_domain_info
        </if>
         <if test="user_id != -1">
             SELECT a.* FROM mall.tab_domain_info as a,tab_user_domain as b
             where a.id  = b.domain_id
             and b.user_id = #{user_id};
         </if>
    </select>
</mapper>
